gateway/log
gateway/node_modules
gateway/package-lock.json
contacto/log
contacto/node_modules
contacto/package-lock.json
noticia/log
noticia/node_modules
noticia/package-lock.json
recomendacion/log
recomendacion/node_modules
recomendacion/package-lock.json
sugerencia/log
sugerencia/node_modules
sugerencia/package-lock.json
usuario/log
usuario/node_modules
usuario/package-lock.json
video/log
video/node_modules
video/package-lock.json